@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

html,
body {
  font-family: "Futura-pt", sans-serif;
}

/* Nav bar section */

.navbar {
  animation: 1s ease-out 0s 1 slideInTop;
}

#intro-example {
  height: 400px;
}

@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
